{% comment %} 
File: _includes/blog-item-categorization.html
Displays post details and links the tags for categorization.
{% endcomment %}

<div class="blog-post">
  <h3>
    <a class="post-link" href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a>
  </h3>
  <span class="post-meta" title="{{ include.post.date | date: "%b %-d Y" }}">{{ include.post.date | date: "%b %-d" }} <span class="meta-year">{{ include.post.date | date: "%Y" }}</span></span>
  
  {% if include.post.description %}<p class="post-subtitle">{{ include.post.description }}</p>{% endif %}
  
  {% if include.post.tags %}
    <div class="tags">
      {% for tag in include.post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}/" class="tag-item">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</div>